<div class="page my-4">
  <h1>All my lists (<%= @lists.length %>)</h1>

  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
      <div class="card-category my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300?random=1)">
        <h2><%= list.name %></h2>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
