<div class="banner" content="width=device-width, initial-scale=1" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://source.unsplash.com/1600x900/?dark);">
  <div class="container">
    <h1>All my lists (<%= @lists.length %>)</h1>
  </div>
</div>
<div class="container my-4">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
      <div class="card-category my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?dark)">
        <h2><%= list.name %></h2>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
