.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon a {
  color:rgba($color: #000000, $alpha: 1.0);
  transition-duration: 0.5s;
}

.navbar-lewagon a:hover {
  color:rgba($color: #000000, $alpha: 1.0);
  text-decoration: none;
  transform: rotate(180deg);
}
